.info-icon {
  position: relative;
  display: inline-block;
  margin: 3px;
}

.info-icon .fa-info-circle {
  cursor: pointer; /* Ensures the icon is recognized as interactive */
}

.flyout-content {
  max-width: 600px; /* Reasonable default max width */
  width: calc(
    100vw - 40px
  ); /* Responsive width with 20px padding on each side */
  display: none; /* Initially hidden */
  position: fixed;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center adjustment */
  margin-top: 8px; /* Small gap from the icon */
  color: #000;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Rounded corners */
}

@media (max-width: 600px) {
  .flyout-content {
    padding: 12px;
    font-size: 0.9em;
  }
}


.required-field::after {
  content: " *" !important;
  color: #f00 !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Faded background */
  z-index: 9999; /* Ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-overlay.hidden {
  display: none;
}
